a.anchor {
  padding-top:50px;
}
p {
  color: #555;
}
a[href]:visited, a[href] {
  color: #00A;
}
.caption {
  padding-top:0px;
  margin-top:0px;
  margin-bottom:30px;
}

.pure-table {
  font-size: 0.9em;
}
.pure-table td, .pure-table th {
  padding: 0.3em 0.3em;
  line-height: 1em;
}

/*
.edit-expense {
  float:right;
  margin-left:3px;
  margin-right:3px;
}*/

.content {
  padding: 0 0.5em;
  max-width: 1000px;
}

.expense-outer {
  padding: 0.1em 0.1em;
  border-bottom: 1px solid #888888;
}
.expense-outer-heading {
  padding: 0.1em 0.1em;
  border-bottom: 2px solid #888888;
  font-weight: bold;
}

.expense-line {
  padding: 0.1em 0.1em;
}
.expense-amt, .expense-amt-edit .raw-input {
  text-align:right;
}
.expense-amt-inner {
  padding-right:0.3em;
}
.expense-btns {
  text-align:right;
}
.expense-btns-inner {
}
.edit-btn,.del-btn,.save-btn,.cancel-btn {
  cursor:pointer;
  margin-right:0.3em;
}

.expense-clump {
  margin-bottom: 1.5em;
}

.expense-edit {
  padding-right: 0.5em;
}
.raw-input {
  width: 100%;
  padding-left: 0.1em;
}
.error {
  background-color:#FF9494;
}

@media screen and (min-width: 64em) {
  .expense-amt-inner {
    padding-right: 2em;
  }
}
