a.anchor {
  padding-top:50px;
}
p {
  color: #555;
}
a[href]:visited, a[href] {
  color: #00A;
}
a.no-link.pure-button {
  color: rgba(0,0,0,.8);
}
.caption {
  padding-top:0px;
  margin-top:0px;
  margin-bottom:30px;
}

/*
.pure-table {
  font-size: 0.9em;
}*/
.pure-table td, .pure-table th {
  padding: 0.5em 0.5em;
}

/*
.edit-expense {
  float:right;
  margin-left:3px;
  margin-right:3px;
}*/

.content {
  padding: 0 0.5em;
  max-width: 1000px;
}

.expense-outer {
  padding: 0.1em 0.1em;
  border-bottom: 1px solid #888888;
}
.expense-outer-heading {
  padding: 0.1em 0.1em;
  border-bottom: 2px solid #888888;
  font-weight: bold;
}

.expense-line {
  padding: 0.1em 0.1em;
}
.expense-amt, .expense-amt-edit .raw-input, td.balance-td, .balance-td .raw-input {
  text-align:right;
}
.expense-amt-inner {
  padding-right:0.3em;
}
.expense-btns {
  text-align:right;
}
.btn {
  cursor:pointer;
}
.edit-btn, .save-btn {
  margin-right:0.5em;
}
.del-btn, .cancel-btn {
  margin-right:0.3em;
}

.account-del-btn, .account-cancel-btn,
.account-save-btn, .account-edit-btn {
  margin-left:0.2em;
  margin-right:0.2em;
}

.expense-clump {
  margin-bottom: 1.5em;
}

.expense-edit {
  margin-right: 0.5em;
}
.raw-input {
  width: 100%;
  padding-right: 0.1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.error {
  background-color:#FF9494;
}

.account-td {
  width:20em;
}
.balance-td {
  width:7em;
}
.update-td {
  max-width:2.8em;
  text-align:center;
  line-height: 1.8em;
}

@media screen and (min-width: 64em) {
  .expense-amt-inner {
    padding-right: 2em;
  }
}
